**/node_modules
**/.next/
*.log
/packages/*/public/manifest/
/packages/tests/public/manifest.json
/packages/tests/out/
/packages/next-offline/register-sw-compiled.js
/packages/next-export-example/out/
